@model IEnumerable<Cricket_Auction.Models.TeamOwner>
@{
    ViewData["Title"] = "Manage Team Owners";
    Layout = "~/Views/Shared/_BE_Layout.cshtml";

}
<link rel="stylesheet" href="bower_components/morris.js/morris.css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">List of Team Owners</h2>
    </div>
    <div class="col-3 offset-3">

        <a asp-action="Create" asp-controller="TeamOwner" class="btn btn-info form-control text-white">
            Add TeamOwner
        </a>
    </div>
    <div class="col-12 border p-3">



        <table class="table table-responsive-lg">
            <thead>
                <tr>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                   
                    <th>Buttons</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                   
                    <td>
                        <a asp-action="Update" asp-route-id="@item.TeamOwnerID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.TeamOwnerID">Delete</a>

                        <input type="button" onclick="ConfirmDelete(@item.TeamOwnerID)" class="btn btn-danger" value="Delete" />
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<script>

    function ConfirmDelete(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-danger m-2',
                cancelButton: 'btn btn-info m-2'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/TeamOwner/Delete",
                    data: { id: id },
                    success: function (result) {
                        if (result.status == "success") {
                            swalWithBootstrapButtons.fire(
                                'Success',
                                result.Message,
                                'Success'
                            ).then((res) => {
                                if (res.isConfirmed) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            swalWithBootstrapButtons.fire(
                                'Error',
                                result.Message,
                                'error'
                            )
                        }
                    }
                })

            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                //swalWithBootstrapButtons.fire(
                //    'Cancelled',
                //    'Your data is safe :)',
                //    'error'
                //)
            }
        })
    }
</script>

@section Scripts{
    <script src="~/js/TO.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

